@model IEnumerable<Student>

@{
    ViewData["Title"] = "Öğrenciler";
    ViewData["Description"] = "Öğrenci işleri Anasayfa";
}

<h1>Öğrenciler</h1>

<p>
    <a asp-action="AddStudent" class="btn btn-success">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>AD</th>
            <th>SOYAD</th>
            <th>NUMARA</th>
            <th>SINIF</th>
            <th>İŞLEMLER</th>
        </tr>
    </thead>
    <tbody class="table table-hover">
        @if (Model.Count() != 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.StudentName
                    </td>
                    <td>
                        @item.StudentSurname
                    </td>
                    <td>
                        @item.StudentNumber
                    </td>
                    <td>
                        @item.Class.ClassName
                    </td>
                    <td>
                        <a asp-action="EditStudent" asp-route-id="@item.StudentId" class="btn btn-secondary text-black-50">Düzenle</a> |
                        <a asp-action="DeleteStudent" asp-route-id="@item.StudentId" class="btn btn-danger text-black-50" onclick="return confirm('Emin misiniz?')">Sil</a>
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td>Henüz Öğrenci Girişi Yapılmamış</td>
                <td><a asp-action="AddStudent">İlk Öğrencinizi Ekleyin</a></td>
            </tr>
        }

    </tbody>
</table>
